.env
/resource/app.db
/resource/app.db-journal
/log/*
/output/*
/config/*
/output/monitoring-network/*
/tmp/*

!/output/.gitkeep
!/output/monitoring-network/.gitkeep
!/log/.gitkeep
!/output/monitoring-network/